.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #007bff;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.btn{
      margin-right: 10px;
}

.form-design{
      margin-top: 25px;
}

.btn-orient{
  margin-left: 10px;
}

.main_divwidth{
  width: 75%;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.maestro-nav__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 240px;
    min-width: 240px;
    height: 100%;
    background: #F7F9FA;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
}

.maestro-chrome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 784px;
}


.maestro .page-header__shadow {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 96px;
    flex: 0 0 96px;
}

.page-header {
    position: fixed;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    white-space: nowrap;
    left: 240px;
    width: calc(100% - (200px + 2 * 40px));
    min-width: 744px;
    background: #fff;
    padding: 40px 0 0 40px;
    height: 56px;
}

.page-header__title {
    position: absolute;
    z-index: 8;
}

.imgStyle
{
  height: 50px;
  width: 50px;
}

.maestro-nav__feature-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 32px;
}

.maestro-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .mc-popover {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    font-family: 'AtlasGrotesk', sans-serif;
    font-size: 14px;
    color: #1b2733;
}

.hr-line-dashed {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #1b2733 -moz-use-text-color #1b2733;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.hr_btn_height{
  height: 12px;
}
.text-center {
    text-align: left;
}